.container{
    background-color: rgb(135, 135, 135);
    max-width: 100px;
    border-radius: 30px;
    padding: 10px;
    display: flex;
    justify-content: center;
}
.container:hover{
    cursor: pointer;
}

.icon{
    max-width: 30px;
    max-height: 30px;
}