@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Dosis:wght@300;400;500;600;800&family=Pangolin&display=swap');
:root {
   --mainColor: #741de7;
   --textNav: #ffffff;
   --hoverNav: #d5f542;
   --textHero: #ffffff;
   --bgButton: #d5f542;
   --textButton: #741de7;
   --bgKnowme: #f3f3f3;
   --frontendText: #ffffff;
   --skillBg: #741de7;
   --experinceBg: #f3f3f3;
   --skillContainer: #f3f3f3;


   
    --primaryText: #000000;
    --title: #741de7;
}

 [data-theme='dark'] {
   --mainColor: #181818;
   --textNav: #d5f542;
   --hoverNav: #741de7;
   --textHero: #ffffff;
   --bgButton: #741de7;
   --textButton: #d5f542;
   --bgKnowme: #454b59;
   --frontendText: #d5f542;
   --skillBg: #76679f;


   
    --primaryText: #ffffff;
}

 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 .layout {
    display: flex;
    flex-direction: column;
 }
 .header{
    z-index: 1;
    position: fixed;
    width: 100%;
 }
.main{
    margin-top: 105px;
    min-height: 85vh;
    color: var(--heroText);
    flex: 1;
}