@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Dosis:wght@300;400;500;600;800&family=Pangolin&display=swap');
:root {
    --primaryButton: #d5f542;
    --hoverItemsNavbar: #d5f542;
    --mainColor: #741de7;
    --textButton: #741de7;
    --heroText: #ffffff;
    --primaryText: #000000;
    --title: #741de7;
    --navbarText: #ffffff;
    --bgPage: #f3f3f3;
}

 [data-theme='dark'] {
    --primaryButton: #741de7;
    --hoverItemsNavbar: #741de7;
    --mainColor: #181818;
    --textButton: #d5f542;
    --heroText: #ffffff;
    --primaryText: #ffffff;
    --navbarText: #d5f542;
    --bgPage: #454b59;
}

 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 .layout {
    display: flex;
    flex-direction: column;
 }
 .header{
    z-index: 1;
    position: fixed;
    width: 100%;
 }
.main{
    margin-top: 105px;
    min-height: 85vh;
    color: var(--heroText);
    flex: 1;
}